<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/index.html">Inicio</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#videojuegos">Videojuegos</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#tecnologia">Tecnología</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#cine">Cine</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#anime">Anime</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#television">Televisión</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#hacking">Hacking</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/categories.html#random">Random</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contacto.html">Contacto</a>
</li>
</li>
